<nav class="navbar">
  <div class="container">
    <div class="navbar-content">
      <div class="navbar-brand">
        <a routerLink="/" class="brand-link">
          <i class="fas fa-rocket"></i>
          <span>PitchPlatform</span>
        </a>
      </div>

      <div class="navbar-menu">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
          Home
        </a>

        @if (isAuthenticated()) {
          <div class="user-menu">
            @if (currentUserRole() === 'investor') {
              <a class="nav-link" routerLink="/investor/startup-profiles" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" >
                <i class="fa-regular fa-building"></i>
                <span>Start-ups</span>
              </a>
            }
            
            <button class="user-button" (click)="navigateToDashboard()">
              <i class="fas fa-user"></i>
              <span>Dashboard</span>
            </button>
            
            <button class="logout-button" (click)="logout()">
              <i class="fas fa-sign-out-alt"></i>
              <span>Logout</span>
            </button>
          </div>
        } @else {
          <div class="auth-buttons">
            <a routerLink="/login" class="btn btn-outline">Login</a>
            <a routerLink="/register" class="btn btn-primary">Register</a>
          </div>
        }
      </div>
    </div>
  </div>
</nav>